*{
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.layout img{
  width: 128px;
}
.layout {
  width: 100%;
  
  background-color: #d3d3d3;
  
  

  display: flex;
  gap: 16px;
}

.grow3 { 
  flex-grow: 3; 
  
}
.ulHeader{
display: flex;
justify-content: space-evenly;
margin-top: 2rem;
}
.botones button{
  font-size: 70%;
  margin: 2%;
  
}
.botones{
  margin: 5%;
}
ul{
  list-style: none;
  
}
li a{
  color: black;
  border-radius: 5%;
  background-color: white;
  font-size: 110%;
}

.btns{
  display: flex;
  align-items: baseline;
}
.ctdCart{
  padding: 1rem 0.375rem;
}
.btnsCnt{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.cntPRDR{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardsPRDR{
  background-image: linear-gradient(45deg, #833ab4, #fd1d1d);
  border-radius: 25% 5%;
  margin: 5%;
}
.cardsPRDR img{
  width: 100%;
  margin-top: 4%;
}
.imgCard{
  width: 20rem;
}
.cardDetails{
  text-align: center;
  margin:2rem;
  color: white;
}

.loading{
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  
  .loadingImg {
    width: 150px;
    animation: App-logo-spin infinite 0.7s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}